/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

*{
   font-family: 'Kosugi Maru', sans-serif;
}

body {
   background-color: #efefef;
   // color:#DDDDDD;
   /* サブ文字カラー：#9A9A9B */
}

h1 {
   font-size: 30px;
}

.search-form-spec {
   margin:auto;
}

.search-form-sensor-size {
   margin:auto;
}

.search-form-lens-type {
   margin:auto;
}

.thumb {
   max-width: 200px; /* 画像の最大横幅を指定 */
   height: auto; /* 縦横比を維持 */
}

.card {
   margin: 0 auto;
}

.main_img {
   margin: 0 auto;
   text-align: center;
}

#top-logo-img {
   margin: 0 auto;
   padding-top: 20px;
   padding-bottom: 20px;
   text-align:center
}

.flex-box {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;/*縦・横で同じ余白*/
   margin: 0 auto;
}

.box {
   margin: 0 auto;
}

.checkbox {
   margin-top: 15px;
   margin-right: 15px;
}

.search-button {
   margin-top: 15px;
   text-align: center;
}

.main_img {
   margin: 20px;
}

.tag-form {
   margin: 10px;
}

.lens-detail {
   margin: 10px;
}

.lens-name {
   margin: 10px;
}